/*=========== GOOGLE FONT ===========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*========== COMMON CSS ===========*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
p{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
}

/*=========== HEADER PART ===========*/
.header{
    background-color:#2D25A0;
    padding: 60px 0;
}
.main-header{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-content h1{
    font-size: 50px;
    color: #fff;
}
.header-content a{
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    background-color: #E02C6D;
    border-radius: 5px;
    transition: all linear .4s;
}
.header-content a:hover{
    padding: 15px 30px;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}
.header-img img{
    width: 100%;
}
.header-img:hover img{
    transform: rotate3d(2, 4, 7.0, 40deg);
    transition: all linear .7s;
}

/*=========== Blogs part ==============*/

.blogs{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 0 auto;
    padding: 30px 0;
    
}
.blog1{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: all linear .5s;
}
.blog1:hover{
    box-shadow: 10px 10px 20px rgba(17, 17, 17, 0.15);
}
.blog1 img{
    width: 100%;
}
.blog1 h3{
    font-size: 28px;
    font-weight: bold;
}

/* =============more-game part=============== */

.more-game{
    width:80%;
    margin: auto;
    margin-top: 40px;
}
.game-head h2{
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px dotted rgb(192, 192, 192);
    padding-bottom: 10px;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}

.game1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.game1 img{
    width: 100%;
}


/*======== about part ===========*/

.about{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.about-head h2{
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px dotted rgb(192, 192, 192);
    padding-bottom: 10px;
}
.about-us{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.player1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
.player1-img img{
    width: 100%;
}
hr{
    width: 100%;
    height: 2%;
    color: #000;
}

/*===========  FOOTER PART ===========*/

.footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-img img{
    width: 35%;
}
.footer-icon a{
    width: 32px;
    height: 32px;
    margin-right: 14px;
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    color: #949393;
}
.footer-icon a i{
    margin-top: 8px;
}
.footer-icon a:hover{
    background-color: rgb(184, 183, 183);
    border-radius: 50%;
    color: #3d3d3d;
    transition: all linear .4s;
} 
/* ===========MEDIA QUARY================ */

/* header section responsive */

@media only screen and (max-width:668px){
    .header{
        width: 100%;
    }
    .main-header{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-img img{
        margin-top: 50px;
    }
}
@media only screen and (min-width:668px) and (max-width:992px)
{
    .header{
        width: 100%;
    }
    .main-header{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-img img{
       margin-top: 80px;
    }
}

/* blog section responsive */

@media only screen and (max-width:668px){
    
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .blog1 h3{
        font-size: 24px;
    }
}

@media only screen and (min-width:668px) and (max-width:992px){
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

/* More Games Part Responsive */

@media only screen and (max-width:668px){
    .more-game{
        width: 90%;
    }
    .game-head h2{
        font-size: 22px;
    }
    .game{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;   
    }
    .game1{
        width: 100%;
    }
}
@media only screen and (min-width:668px) and (max-width:992px){
    .game{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}

/* About part Resposive */

@media only screen and (max-width:668px){
    .about{
        width: 90%;
    }
    .player1{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        width: 100%;
    }
    .about-us{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:668px) and (max-width:992px){
    .about{
        width: 90%;
    }
    .player1{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        width: 100%;
    }
    .about-us{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer Part Responsive */
@media only screen and (max-width:668px){
    .footer-container{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 0;
    }
    .footer-img img{
        width: 90%;
    }
    .footer-icon{
        margin-left: 10%;
    }
    .copy{
        margin-left: 5%;
    }
}
@media only screen and (min-width:668px) and (max-width:992px) {
    .footer-container{
        width: 100%;
        margin: 40px 0;
    }
    .footer-img img{
        width: 60%;
    }
    .footer-icon{
        
        margin-left: 10%;
    }
    .copy{
        margin-left: 5%;
    }
}


